<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <!--<display-login>Archetype Created Web Application</display-login>-->

    <!--<servlet>-->
        <!--<servlet-login>StartServlet</servlet-login>-->
        <!--<servlet-class>WebPart.servlet.StartServlet</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-login>StartServlet</servlet-login>-->
        <!--<url-pattern>/start</url-pattern>-->
    <!--</servlet-mapping>-->


    <!--<servlet>-->
        <!--<servlet-login>LoginServlet</servlet-login>-->
        <!--<servlet-class>WebPart.servlet.RegLogClientServlet</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-login>LoginServlet</servlet-login>-->
        <!--<url-pattern>/regLogClient</url-pattern>-->
    <!--</servlet-mapping>-->

    <!--<servlet>-->
        <!--<servlet-login>SignOut</servlet-login>-->
        <!--<servlet-class>WebPart.servlet.SignOut</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-login>SignOut</servlet-login>-->
        <!--<url-pattern>/signOut</url-pattern>-->
    <!--</servlet-mapping>-->

    <!--<servlet>-->
        <!--<servlet-login>ChatPage</servlet-login>-->
        <!--<servlet-class>WebPart.servlet.ChatServlet</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-login>ChatPage</servlet-login>-->
        <!--<url-pattern>/chat</url-pattern>-->
    <!--</servlet-mapping>-->

    <!--<servlet>-->
        <!--<servlet-login>RegLogAgentServlet</servlet-login>-->
        <!--<servlet-class>WebPart.servlet.RegLogAgentServlet</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-login>RegLogAgentServlet</servlet-login>-->
        <!--<url-pattern>/regLogAgent</url-pattern>-->
    <!--</servlet-mapping>-->

    <!--<filter>-->
        <!--<filter-login>SkipFilter</filter-login>-->
        <!--<filter-class>WebPart.Filter.SkipFilter</filter-class>-->
    <!--</filter>-->
    <!--<filter-mapping>-->
        <!--<filter-login>SkipFilter</filter-login>-->
        <!--<url-pattern>/</url-pattern>-->
    <!--</filter-mapping>-->

    <listener>
        <listener-class>
            WebPart.servlet.ConfigurationServletListener
        </listener-class>
    </listener>

</web-app>

