<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Archetype Created Web Application</display-name>

    <servlet>
        <servlet-name>StartServlet</servlet-name>
        <servlet-class>WebPart.servlet.StartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StartServlet</servlet-name>
        <url-pattern>/start</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>WebPart.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SignOut</servlet-name>
        <servlet-class>WebPart.servlet.SignOut</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignOut</servlet-name>
        <url-pattern>/signOut</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ChatPage</servlet-name>
        <servlet-class>WebPart.servlet.ChatServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChatPage</servlet-name>
        <url-pattern>/chat</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>WebPart.servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>SkipFilter</filter-name>
        <filter-class>WebPart.Filter.SkipFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SkipFilter</filter-name>
        <url-pattern>/</url-pattern>
    </filter-mapping>

    <listener>
        <listener-class>
            WebPart.servlet.ConfigurationServletListener
        </listener-class>
    </listener>

</web-app>

